<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>三列布局</title>
    
    <style>
        *{margin:0;padding:0;}
        body{background:#fff;text-align: center;color:#fff;}
        /* 自适应在换为百分比 */
        .container{width:1000px;height:1000px;margin:0 auto;}
        .left{width:300px;height:1000px;background:#67b581;float:left;}
        .right{width:400px;height:1000px;background:#67b581;float: right;}
        .center{width:300px;height:1000px;background:#175bd8;float:left;} 
    </style>
</head>
<body>
    <div class="container">
        <div class="left">这是页面左侧</div>
        <div class="center">这是页面中间</div>
        <div class="right">这是页面右侧</div>
    </div>
</body>
</html>